{%extends 'index.html'%}
{%load static%}

{%block content%}

<section class="wrapper style2">
    <div class="inner">
        <header>
            <h2>Canciones Existentes</h2>
            <p>Fusce fringilla enim sit amet lectus sollicitudin, eu tincidunt odio semper.</p>
        </header>
        <!-- Tabbed Video Section -->
        <div class="flex flex-tabs">
            <ul class="tab-list">
                <li><a href="#" data-tab="tab-1" class="active">Duis vestibulum tellus</a></li>
                <li><a href="#" data-tab="tab-2">Quam tempus sodales ipsum</a></li>
                <li><a href="#" data-tab="tab-3">Donec faucibus risus cursus</a></li>
            </ul>
            <div class="tabs">

                <!-- Tab 1 -->
                <div class="tab tab-1 flex flex-3 active">
                    <!-- Video Thumbnail -->
                    {%for i in info%}
                    {% if i.cancionL.cancion.imagen %}
                    <div class="video col">
                        <div class="image fit">
                            <img src="{{i.cancionL.cancion.imagen.url}}" width="200px" height="200px">
                            <div class="arrow">
                                <div class="icon fa-play"></div>
                            </div>
                        </div>
                        <a href="{{i.cancionL.cancion.url}}" class="link">{{i.cancionL.cancion.titulo}}</a>
                    </div>
                    {%else%}
                     <div class="video col">
                        <div class="image fit">
                             <img src="{%static 'img/pic01.jpg'%}" width="200px" height="200px">
                            <div class="arrow">
                                <div class="icon fa-play"></div>
                            </div>
                        </div>
                        <a href="{{i.cancionL.cancion.url}}" class="link">{{i.cancionL.cancion.titulo}}</a>
                    </div>

                    {% endif %}

                    {%endfor%}
                    <!-- Video Thumbnail -->
                </div>

            </div>
        </div>
    </div>
</section>




{%endblock%}

{%block js%}

{%endblock js%}
