<div class="modal-dialog modal-lg" id="ocul3" role="document">
    <div class="card">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">CREAR CANCION SIN GENERO</h2>


        </div>
        <form method="post" action="{% url 'mod3' %}" >


            {% csrf_token %}

            {{AutorCancion.as_p}}

        <button type="submit" class="btn btn-primary">ENVIAR</button>

        </form>

    </div>
    <button class="close" ONCLICK="ocultar3()">
                <spam aria-hidden="true" >CERRAR</spam>
    </button>
        </div>
</div>

<script>
   function ocultar3() {
    var x = document.getElementById("ocul3");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

</script>